.titulo-bg {
  background-color: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.flex-escolha {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto; 
}

.flex-escolha h2 {
  margin-bottom: 40px;
  margin-left: 155px;
}

.flex-escolha ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px;
  padding: 0 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  /*Criar barra scroll quando necessário para uma parte específica do site*/
}


.flex-escolha h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: #805b10;;
  transition: width 0.2s;
}

.flex-escolha a:hover h3::before {
  width: 24px;
}


@media (max-width: 800px) {
  .flex-escolha {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .flex-escolha ul {
    gap: 25px;
  }
}