body {
    font-family: 'Raleway', sans-serif;
}

.logomenu {
    justify-content: start;
}

.imagem-carrossel1 {
    object-fit: cover;
    object-position: 0 20%;
    height: 695px;
    margin-bottom: 85px;
}

.imagem-carrossel2 {
    object-fit: cover;
    object-position: 0 50%;
    height: 695px;
    margin-bottom: 85px;
}

.teste {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

/*    animation:
        escrevendo 3.5s steps(30, end),
        cursor .5s infinite;
}

@keyframes escrevendo {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

The typewriter cursor effect 
@keyframes cursor {
    0% {
        border-color: transparent
    }

    50% {
        border-color: #fff
    }
}*/

/*Espaçamentos Adicionais e Menu*/

.espacamento {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-left: auto;
    /*margin-left e margin-right -> alinham os itens ao centro*/
    margin-right: auto;
}

.titulo-bg {
    background-color: #d2d4d7;
    padding-top: 60px;
    padding-bottom: 60px;
  }

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

}

.header-menu .btn {
    background-color: #FFF;
    text-decoration: none;
    border: none;
    display: inline-block;
    padding: 16px;
    position: relative;
}

.header-menu .btn::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #805b10;
    border: none;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
    padding: 0;
    margin: 0;
    display: block;
}


.header-menu .btn:hover::after {
    transform: scale(1);
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.header-menu .btn:hover::after,
.header-menu .btn.ativo::after {
  width: 100%;
}

.margem {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 85px;
    padding-right: 85px;
}

/*Efeito Zebrado para as tabelas*/

tr:nth-child(even) {
    background-color: lightgrey;
}

/* lupa de pesquisa */
.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -56px;
    right: -20px;
  }

  .form-inline{
    font: 400 1rem/1.5 sans-serif;
    background-color: #fff;
    border: 2px solid #ededed;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

   #input-busca:focus{
    outline: none;
    border-color:#805b10;
    background-color: #f7f7f7;
    box-shadow: 0 0 0 2px #db9f2750;
  }